{% extends "index.html" %}


{% block main_content %}
    <h1 class="page-title">{{<archie.translate key="all_tags" extra={config.extra} lang />}}</h1>

    <div class="tag-cloud">
        <ul class="tags">
            {% for term in terms %}
            <li>
                <a href="{{ term.permalink }}">
                    {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock main_content %}
