<header>
    <div class="main" id="main_title">
        <a href={{ config.base_url }}>{{ config.title }}</a>
    </div>

    <nav>
        {% for menu in config.extra.translations[lang][0].menus %}
            <a href={{ menu.url }}>{{ menu.name }}</a>
        {% endfor %}

        {% if config.extra.translations.languages %}
            |

            {% for language in config.extra.translations.languages %}
                <a href={{ language.url }}>{{ language.name }}</a>
            {% endfor %}
        {% endif %}

        {% if config.extra.mode == "toggle" %}
            | <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
            <script src={{ get_url(path="js/themetoggle.js") }}></script>
        {% endif %}
    </nav>
</header>
