{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        <main class="list">
            <div class="site-description">
                {% if config.extra.subtitle %}
                    {{ config.extra.subtitle | markdown | safe }}
                {% endif %}
            </div>
            {% set section = get_section(path="posts/_index.md") %}
            {{ post_macros::list_posts(pages=section.pages) }}
        </main>
        {# TODO: Pagination #}
        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>