<!DOCTYPE html>
<html lang="{{lang}}">
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        <main class="list">
            <div class="site-description">
                {% if config.description %}
                    {{ config.description | markdown | safe }}
                {% endif %}
            </div>

            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% elif section?.ancestors %}
                {%- set show_pages = section.pages -%}
            {% else %}
                {% set posts_section = get_section(path="posts/_index.md", lang=lang, allow_missing=true) %}
                {%- set show_pages = posts_section?.pages or section?.pages or [] -%}
            {% endif -%}

            {{<archie.list_posts pages={show_pages} extra={config.extra} lang />}}
        </main>

        {{<archie.pagination paginator={paginator or false} extra={config.extra} lang />}}

        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>
